mixin footer
  footer.footer
      section.interested-work
        .container
          div.interested-work__wrapper
            h3.interested-work__title Interested to work with our team?
            p.interested-work__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          button(type="button", data-modal="message").btn.btn--blue.interested-work__button Let’s Talk
      section.about-us
        .container
          div.about-us__wrapper
            div.about-us__info
              div.about-us__logo
                +icon('logo-light-blue', 48, 48, 'Логотип компании')
                span Afrianska
              div.about-us__contacts
                span A.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              div.about-us__contacts
                span T.
                a(href="") +62-812-7313-4321
              div.about-us__contacts
                span E.
                a(href="")  hello.afrian@gmail.com
            ul.about-us__list
              span About US
              li.about-us__item About
              li.about-us__item What We Do
              li.about-us__item Project
              li.about-us__item How It Work With Us
            ul.about-us__list
              span Follow US
              li.about-us__item Instagram
              li.about-us__item Facebook
              li.about-us__item LinkedIn
              li.about-us__item Youtube
              li
          p.about-us__copyright 2019 © Afrianska. All rights reserved.
