mixin header
  header.header
    .container
      section.header__wrapper
        div.header__logo
          +icon('logo-blue', 48, 48, 'Логотип компании')
        div.header__menu
          +icon('menu', 32, 32, 'Меню')
